<%inherit file="/_layouts/_common.html"/>

<%block name="externals_special">
  <link href="js/guidely/guidely.css" rel="stylesheet">
</%block>

<%block name="content_main">
<div class="main">

	<div class="main-inner">
	    <div class="container">
	      <div class="row">
            <div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-file"></i>
              <h3>ランキング</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <ul class="messages_layout">

                <%
                   import random

                   %>
                %for ii in range(100):
                <%
                   pic = random.choice(['eco', 'baby', 'cupid'])
                   status = random.choice(['happy', 'normal', 'tired'])
                   name = random.choice([u'ののむら', u'はしもと', u'あべ', u'もり', u'きむら', u'わたなべ', u'たかはし', u'たなか'])
                   %>

                <li class="from_user left">
                  <a href="#" class="avatar">
                    <img src="img/mobile_factory/faces/${pic}_${status}.jpg"/>
                  </a>
                  <span class="value" style="margin-left: 30px;">${ii+1} 位</span>
                  <div class="message_wrap" style="margin: 10px;"> <span class="arrow"></span>
                    <div class="info">
                      <a class="name">${name}</a>
                      <span class="time"></span>
                      <div class="options_arrow">
                        <div class="dropdown pull-right"> <a class="dropdown-toggle " id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#"> <i class=" icon-caret-down"></i> </a>
                          <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
                            <li><a href="#"><i class=" icon-share-alt icon-large"></i> Reply</a></li>
                            <li><a href="#"><i class=" icon-trash icon-large"></i> Delete</a></li>
                            <li><a href="#"><i class=" icon-share icon-large"></i> Share</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="text">議員の詳細をここにのせる。議員の詳細をここにのせる。議員の詳細をここにのせる。議員の詳細をここにのせる。</div>
                  </div>
                </li>
                %endfor
              </ul>
      		</div> <!-- /span3 -->
	      </div> <!-- /row -->
	    </div> <!-- /container -->
	</div> <!-- /main-inner -->
</div> <!-- /main -->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.7.2.min.js"></script>

<script src="js/bootstrap.js"></script>
<script src="js/base.js"></script>

<script src="js/guidely/guidely.min.js"></script>

<script>

$(function () {

	guidely.add ({
		attachTo: '#target-1'
		, anchor: 'top-left'
		, title: 'Guide Title'
		, text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
	});

	guidely.add ({
		attachTo: '#target-2'
		, anchor: 'top-right'
		, title: 'Guide Title'
		, text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
	});

	guidely.add ({
		attachTo: '#target-3'
		, anchor: 'middle-middle'
		, title: 'Guide Title'
		, text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
	});

	guidely.add ({
		attachTo: '#target-4'
		, anchor: 'top-right'
		, title: 'Guide Title'
		, text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
	});

	guidely.init ({ welcome: true, startTrigger: false });


});

</script>

</%block>
